%section#content
  / Article skeleton page
  %article.article_skeleton.article_lets_rock
    / Container gor Skeleton, Frank and Zombie
    #skeletons_container
    #lets_rock
      #rock_mp3
  .q
    %span.h3 Questions?
:javascript
  lets_rock ();