!!!
%html
  %head
    %title Questions?
    %meta{:charset => "UTF-8"}
      %script{:src => "/js/core/base.js"}
      %script{:src => "/js/core/base_ex.js"}
      %script{:src => "/js/core/jquery.js"}
      %script{:src => "/js/core/jquery-ui.js"}
      %script{:src => "/js/controllers/cmn.js"}
      %link{:href => "/css/common.css", :rel => "stylesheet"}
  %body
    =yield
